/* Global */
:root {
    /* Fonts */
    --font-large: 20px;
    --font-medium: 18px;
    --font-small: 15px;
    --font-micro: 10px;
    /* Paddings */
    --padding-default: 15px;
    /* Animation */
    --animation-default: 0.2s;
}
/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
img{
    height: 20px;
    width: 20px;
}
ul{
    list-style: none;
}
/* Header */
header{
    width: 100%;
    height: 70px;
    padding: var(--padding-default);
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-large);
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-top: 3px;
}
.searchbar{
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: var(--font-small);
    border: 0.5px solid black;
    padding: 5px 300px 5px 10px;
    margin-right: 300px;
    color:gray;
}
.searchbar img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 1px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info .user-info__icon{
    width: 30px;
    height: 30px;
}
.user-info__identity{
    display: flex;
    flex-direction: column;
    font-size: var(--font-micro);
    padding-left: 10px;
    margin-right: 10px;
}

/* Sidebar-Page Divider */
#sidebar-page-wrapper{
    display: flex;
    height: 100%;
}

/* Sidebar */
#sidebar{
    background-color: #eeeeee;
    width: 250px;
    padding: var(--padding-default);
}
.sidebar__section-divider{
    color: gray;
}
.create-new{
    margin: 7px auto 20px auto;
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: var(--font-large);
    border-radius: 50px;
    box-shadow: 0px 0px 10px gray;
    transition: box-shadow var(--animation-default) ease-out;
    cursor: pointer;
}
.create-new:hover{
    box-shadow: 0px 0px 20px gray;
}
.sidebar__subsection{
    height: 30%;
}
.subsection__header{
    font-size: var(--font-large);
    display: flex;
}
.subsection__header img{
    height: 23px;
    width: 23px;
    margin-top: 2px;
    margin-right: 8px;
}
.subsection__content{
    margin-top: 7px;
    padding-left: 17px;
    font-size: var(--font-medium);
}
.subsection__content li.active{
    background-color: lightgray;
}
.subsection__content li{
    display: flex;
    padding:5px;
    cursor: pointer;
}
.subsection__content img{
    margin-top: 2px;
    margin-right: 5px;
}